CORS_ORIGIN=
DATABASE_URL=
DIRECT_URL=
ENABLE_SWAGGER=
ERP_API_KEY=
HK_ERP_API_URL=
AVERBEPORTO_API_URL=https://apis.averbeporto.com.br/php/conn.php
AVERBEPORTO_COMPANY=5
AVERBE_PORTO_API_USUARIO=
AVERBE_PORTO_API_SENHA=
HK_INTERNAL_API_KEY=
FOCUSNFE_ENVIRONMENT=homologacao
FOCUSNFE_BASE_URL_HOMOLOGACAO=https://homologacao.focusnfe.com.br/v2
FOCUSNFE_BASE_URL_PRODUCAO=https://api.focusnfe.com.br/v2
FOCUSNFE_TOKEN_HOMOLOGACAO=
FOCUSNFE_TOKEN_PRODUCAO=
FISCAL_EMISSION_ENABLED=false
FISCAL_DRY_RUN=true
JWT_ACCESS_EXPIRES_IN=
JWT_ACCESS_SECRET=
JWT_REFRESH_EXPIRES_IN=
JWT_REFRESH_SECRET=